:root{
  --brand-100: hsl(186, 36%, 95%);
  --brand-200: hsl(188, 36%, 83%);
  --brand-300: hsl(187, 36%, 72%);
  --brand-400: hsl(187, 36%, 61%);
  --brand-500: hsl(187, 36%, 50%);
  --brand-600: hsl(187, 36%, 39%);
  --brand-700: hsl(186, 36%, 28%);
  --brand-800: hsl(188, 36%, 17%);
  --brand-900: hsl(186, 36%, 5%);

  --white-light: hsl(60, 7%, 95%);
  --white-dark: hsl(216, 20%, 95%);
  --white-darker: hsl(0, 0%, 70%);


}
